doctype html
html(lang="ja")
  head
    title HoloMagicians | HoloLens Creator Group Japan
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/magic.css')
  body
    .container
      .row.text-center.header
        img(src='/img/logo.png', width='240', height='240')
      .row.meetups
        h2.container 勉強会情報
        .container.meetup
          img.col-md-3(src='/', style='background: #808080', width='240', height='120')
          .row.col-md-3
            h3 HoloLensおさわり会
            p 15人
            p 2016/04/28
        .container.meetup
          img.col-md-3(src='/', style='background: #808080', width='240', height='120')
          .row.col-md-3
            h3 HoloLensおさわり会
            p 15人
            p 2016/04/28
        .container.meetup
          img.col-md-3(src='/', style='background: #808080', width='240', height='120')
          .row.col-md-3
            h3 HoloLensおさわり会
            p 15人
            p 2016/04/28
      .row.members
        h2.container メンバー
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
        .col-md-6.container.member
          .row
            img.member-icon.col-md-6(src='/img/miko.png')
            ol.profile.col-md-6
              ul 名前
              ul 所属
              ul MVP
              ul SNS
